video {
  object-fit: cover;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  color: #fff;
}

.hero_text {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_text > h1 {
  font-size: 80px;
  text-align: center;
}

.hero_text > h3 {
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
}

.hero_text > p {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 300;
}

.button-solid {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--primary-color);
  font-size: 20px;
  color: #fff;
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition: 0.2s;
}

.button-solid:hover {
  background-color: transparent;
}

.button-solid a {
  color: var(--third-color);
}
