.navigation {
  margin: 0 auto;
  height: 70px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: var(--nav-bgc);
}

.logo-container {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
}

.logo-container svg {
  width: 90%;
}

.nav-left {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.nav-link {
  display: flex;
  padding: 10px 15px;
  height: 100%;
  align-items: center;
  cursor: pointer;
  color: var(--nav-link-color);
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  transition: all 0.2s ease-out;
}

.align-self {
  align-self: flex-end;
}

.button-frame {
  padding: 2px 10px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  background-color: transparent;
  font-size: 20px;
  color: var(--nav-link-color);
  font-weight: 300;
  cursor: pointer;
}

.button-frame:hover {
  background-color: var(--primary-color);
}

.nav-link.active span {
  border-bottom: 1px solid var(--nav-link-color);
}
