.section-admin {
  padding: 50px;
  width: 100%;
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-admin .blog-articles-container {
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

.admin-title {
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  color: #333;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.admin-nav {
  margin: 20px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.admin-component-container {
  margin-left: 50px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin-nav-button {
  margin: 10px 0;
  padding: 12px;
  width: 70px;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
  border: 3px solid var(--primary-color);
}

.admin-nav-button.active {
  background-color: var(--third-color);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.admin-nav-button.active svg {
  fill: var(--primary-color);
}

.admin-nav-button:hover {
  transform: scale(110%);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.admin-nav-button svg {
  fill: var(--third-color);
}
