.learn-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.learn-description {
  margin: 30px 40px 0;
  text-align: center;
  font-size: 23px;
}

.learn-title {
  margin: 20px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: var(--primary-color);
}

.learn-tips-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.learn-tip-container {
  width: 100%;
  height: 27.77778vw;
  max-height: 1440px;
  display: flex;
  justify-content: space-between;
}

.learn-tip-imgcontainer,
.learn-tip-info {
  display: flex;
  width: 41.66%;
}

.learn-tip-img {
  width: 100%;
  object-fit: cover;
}

.learn-tip-info {
  margin-left: 40px;
  flex-direction: column;
}

.learn-tip-title {
  margin: 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.learn-tip-text {
  font-size: 21px;
  overflow-y: scroll;
}

.learn-tip-text::-webkit-scrollbar {
  display: none;
}

.learn-nav-container {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5%;
}

.learn-nav-number {
  width: 100%;
  font-weight: 700;
  font-size: 60px;
  color: var(--primary-color);
  text-align: center;
}

.learn-nav-container svg {
  stroke: var(--primary-color);
}

.learn-nav-arrows {
  fill: transparent;
}

.learn-nav-arrows:hover {
  fill: var(--primary-color);
}
